<%- include('partials/head') %> 

<%- include('partials/navbar')%>

    <h1>The Home Page <%= %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo id nam omnis
      voluptas earum deserunt hic? Deserunt, doloribus accusantium quidem soluta
      est aperiam qui sequi commodi, quaerat ducimus ea veritatis!. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Quisquam nesciunt
      perspiciatis vitae similique praesentium dignissimos facilis, officia aut
      eaque eum maxime mollitia inventore dolor porro aperiam error harum
      numquam sunt. Fugiat, vitae excepturi adipisci nobis, cupiditate nisi
      assumenda nemo commodi atque fugit voluptates maiores minus aut voluptate
      labore repudiandae ipsa possimus culpa repellendus provident? Totam rerum
      repellendus eius consequuntur delectus?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet nostrum
      quo distinctio vero rerum praesentium quae eaque. Veniam deserunt tenetur
      consequatur quibusdam delectus perferendis autem omnis blanditiis rerum
      impedit. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Perferendis maxime animi obcaecati. Voluptate, cum reiciendis labore
      corrupti ex doloribus minus saepe aperiam vero dolorem alias fugiat autem!
      Provident, accusantium quos.
    </p>
    
    <%- include('partials/footer')%>
